<div>
    <h3>Previous comments are:</h3>
    <ul>
        <% for( comment of post.comments) {%>
            <li> <%= comment.content %></li>
            <% if(locals.user.id == comment.user.id || post.user.id == locals.user.id){ %>
            <small>
                <a href="comment/destroy/<%= comment.id%>">Delete Comment</a>
            </small>
            <%}%>
        <% } %>
    </ul>
</div>