<html>
    <head>
        <title>
            login
        </title>
       
        <%- style %>
    </head>

    <body>

    

        <%- body  %>

    

        <%- script %>
        
    </body>
</html>